<?xml version="1.0"?>
<launch>
    <arg name="robot_namespace" default=""/>
    <arg name="odom_topic" default="odometry/filtered"/>
    <arg name="gmapping" default="false"/>
    <arg name="scan_topic" default="scan_filtered" />
    <arg name="base_global" default="global_planner/GlobalPlanner"/>
    <arg name="base_local" default="dwa_local_planner/DWAPlannerROS"/>

    <arg name="amcl_use_map_topic" default="true"/>
    <arg name="odom_frame" default="odom"/>
    <arg name="base_frame" default="base_link"/>
    <arg name="map_frame" default="map"/>
    <arg name="amcl_tf_broadcast" default="true"/>
    <arg name="amcl_init_pose_x" default="0"/>
    <arg name="amcl_init_pose_y" default="0"/>
    <arg name="amcl_init_pose_yaw" default="0"/>

    <arg name="map_file" default="$(find copernicus_navigation)/maps/gazebo.yaml"/>

    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" if="$(arg gmapping)">
        <rosparam file="$(find copernicus_navigation)/config/gmapping.yaml" command="load"/>
        <param name="tf_prefix" value=""/>
        <param name="map_frame" value="$(arg robot_namespace)/$(arg map_frame)"/>
        <param name="odom_frame" value="$(arg robot_namespace)/$(arg odom_frame)"/>
        <param name="base_frame" value="$(arg robot_namespace)/$(arg base_frame)"/>
        <remap from="scan" to="$(arg scan_topic)"/>
    </node>
</launch>
